*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    background-color: #5EFF89;
    text-align: end;
}

.app {
    /* background-color: #fff; */
    width: 500px;
    margin-top: 50px;
}
.header {
    width: 100%;
    height: 120px;
    background-color: #56E8A6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
.header .form {
    display: flex;
    justify-content: center;
    width: 95%;
}
.header .form .text {
    border-radius: 10px 0 0px 0;
    outline: none;
    border-style: none;
    background-color: #eee;
    color: #5EC3FF;
    font-size: 18px;
    text-transform: capitalize;
    width: 70%;
    padding: 10px;
}
.header .form .submit {
    border-radius: 0 0 12px 0;
    /* background-color: #6AFFE5; */
    background-color: #56D8E8;
    color: #eee;
    border-style: none;
    padding: 20px 20px;
    font-size: 14px;
}

.task.done {
    background-color:#56E8A6 ;
    color: #5EFF89;
}

.actions {
    display: flex;
    justify-content: space-between;
    /* color:#5EC3FF; */
}
.countTask {
    background-color:  #6AFFE5;
    color: #5EC3FF;
    width: 75%;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 0px;
}

.deleteAll {
    font-size: 16px;
    background-color: rgba(86, 215, 232, 0.5);
    border-style: none;
    color:#eee;
    padding: 20px;
    width: 25%;
    outline: none;
    opacity: .5;
    cursor: pointer;
    pointer-events: none;
    border-radius: 0 ;
}
.deleteAll.active {
    opacity: 1;
    background-color: #56D8E8;
    pointer-events: auto;
}